.button {
    min-width: 30px;
    border-radius: 20px;
    border: 2px solid rgb(119,133,130);
    background: rgb(96,66,69);
    box-shadow: 3px 3px 3px rgba(64, 43, 45, .4);
    color: white;
    font-size: .6em;
    opacity: .8;
}

.button:hover {
    opacity: 1;
    cursor: pointer;
    background: rgb(207, 74, 40) radial-gradient(
            rgba(252, 243, 102, .75), rgb(207, 74, 40) 60%
    );
}