body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: rgb(0, 255, 0);
  text-shadow: 0 0 5px rgb(43, 255, 43);
  font: 1.3rem Inconsolata, monospace;
}

::selection {
  background: #0080FF;
  text-shadow: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
  padding: 0;
}
