body {
  margin: 0;
  background-color: black;
  background-image: radial-gradient(
  rgba(0, 159, 0, .75), black 120%
  );
  height: 100vh;
  color: rgb(0, 255, 0);
  text-shadow: 0 0 5px rgb(43, 255, 43);
  font: 1.3rem Inconsolata, monospace;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
          0deg,
          rgba(0, 0, 0, .15),
          rgba(0, 0, 0, .15) 1px,
          transparent 1px,
          transparent 2px
  );
}

::selection {
  background: #0080FF;
  text-shadow: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
